.div-GameName{
    display: flex;
    flex-direction: row;
}
.divGN{
    padding: 15px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #131313;
}
.h1-GameName{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-GameName{
    width: 15rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.divGN:hover{
    background-color: #4e4e4e;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.2s;
    transform: scale(1.1);
}
.div-GameName2{
    display: flex;
    flex-direction: row;
}